@model Eve_Ship_ID.Models.VersusModel

@{
    ViewBag.Title = "Versus";
}


<script>
    $(document).ready(function () {
        $('#CharacterOneName').blur(function () {
            var charName = $('#CharacterOneName').val();
            //alert(charName);
            $.get("../Versus/CharacterIdForName/", { id: charName })
            .done(function (charid) {
                $('#CharacterOneId').val(charid);
                //alert(charid);
                if (charid != 0) {
                    $('#characterOneCheck').attr('src', '../images/Green_check.png');
                    $('#characterOneCheck').attr('alt', 'Character Resolved');
                }
                else {
                    $('#characterOneCheck').attr('src', '../images/600px-Red_x.svg.png');
                    $('#characterOneCheck').attr('alt', 'Character Not Found');
                }
                /*
                if($('#CharacterOneId').val() != 0 && $('#CharacterTwoId').val() != 0)
                {
                    $('#submitCompare').removeAttr('disabled');
                }
                */
            });
        });

        $('#CharacterTwoName').blur(function () {
            var charName = $('#CharacterTwoName').val();
            //alert(charName);
            $.get("../Versus/CharacterIdForName/", { id: charName })
            .done(function (charid) {
                $('#CharacterTwoId').val(charid);
                // alert(charid);
                if(charid != 0)
                {
                    $('#characterTwoCheck').attr('src', '../images/Green_check.png');
                    $('#characterTwoCheck').attr('alt', 'Character Resolved');
                }
                else {
                    $('#characterTwoCheck').attr('src', '../images/600px-Red_x.svg.png');
                    $('#characterTwoCheck').attr('alt', 'Character Not Found');
                }
                /*
                if ($('#CharacterOneId').val() != 0 && $('#CharacterTwoId').val() != 0) {
                    $('#submitCompare').attr('disabled', 'false');
                }
                if ($('#CharacterOneId').val() != 0 && $('#CharacterTwoId').val() != 0) {
                    $('#submitCompare').removeAttr('disabled');
                }
                */
            });
        });

        $('#CharacterOneName').keypress(function () {
            $('#characterOneCheck').attr('src', '');
            $('#characterOneCheck').attr('alt', '');
        });

        $('#CharacterTwoName').keypress(function () {
            $('#characterTwoCheck').attr('src', '');
            $('#characterTwoCheck').attr('alt', '');
        });

    });


    function resolveCharId()
    {
        var charName = $('#CharacterOneName').val();
        alert(charName);
        $.get("../Versus/CharacterIdForName/", { id: charName })
        .done(function (charid) {
            $('#CharacterOneId').val(charid);
            alert(charid);
        });
        }

    </script>

<h2>Versus</h2>
<table style="width:75%;border:thin">

    @using (Html.BeginForm("", "Versus", FormMethod.Post, new { id = "VersusForm", style = "visibility:visible" }))
    {
        <tr>
            <td>
                @Html.TextBoxFor(model => model.CharacterOneName)
                <img id="characterOneCheck" src="@(Model != null && Model.CharacterOneName != "" ? "../images/Green_check.png" : "")" />

            </td>
            <td>

                @Html.TextBoxFor(model => model.CharacterTwoName)
                <img id="characterTwoCheck" src="@(Model != null && Model.CharacterTwoName != "" ? "../images/Green_check.png" : "")" />
        </tr>
        <tr>
            <td>

                @Html.HiddenFor(model => model.CharacterOneId)

                @Html.HiddenFor(model => model.CharacterTwoId)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="Submit" value="Versus!" id="submitCompare">
                <!--disabled="(Model != null && Model.CharacterOneId != 0 && Model.CharacterTwoId != 0 ? "false" : "true")-->
            </td>
        </tr>
    }

</table>






    @if (Model != null && Model.resultsOne != null && Model.resultsTwo != null)
    {

        <table style="width:75%;border:thin">
            <tr>
                <td>
                    @Model.CharacterOneName
                </td>
                <td>
                    @Model.CharacterTwoName
                </td>
            </tr>
            <tr>
                <td>
                    Total Number of kills (YTD): &nbsp;
                    @Model.resultsOne.nbrTotalKills
                </td>

                <td>
                    Total Number of kills (YTD): &nbsp;
                    @Model.resultsTwo.nbrTotalKills
                </td>
            </tr>
            <tr>
                <td>
                    Number of times won engagements versus this opponent&nbsp;
                    @Model.resultsOne.nbrTimesWon
                </td>
                <td>
                    Number of times won engagements versus this opponent&nbsp;
                    @Model.resultsTwo.nbrTimesWon
                </td>
            </tr>
            <tr>
                <td>
                    Number of 1v1s versus this opponent&nbsp;
                    @Model.resultsOne.nbr1v1s
                </td>
                <td>
                    Number of 1v1s versus this opponent&nbsp;
                    @Model.resultsTwo.nbr1v1s
                </td>
            </tr>
            <tr>
                <td>
                    Number of 1v2a versus this opponent&nbsp;
                    @Model.resultsOne.nbr1v2s
                </td>
                <td>
                    Number of 1v2s versus this opponent&nbsp;
                    @Model.resultsTwo.nbr1v2s
                </td>

            </tr>
            <tr>
                <td>
                    Number of 1v3 or more versus this opponent:&nbsp;
                    @Model.resultsOne.nbr1vManys
                </td>
                <td>
                    Number of 1v3 or more versus this opponent:&nbsp;
                    @Model.resultsTwo.nbr1vManys
                </td>
            </tr>
            <tr>
                <td>
                    Average number pilots on all kills&nbsp;
                    @Model.resultsOne.averagePilotsOnKills
                </td>
                <td>
                    Average number pilots on all kills&nbsp;
                    @Model.resultsTwo.averagePilotsOnKills
                </td>
            </tr>
        </table>
    }