@model Eve_Ship_ID.Models.ShipQuiz

@{
    ViewBag.Title = "Ship Identification Quiz";
}
<script>
    function HandleCompletion() {
        /* 
        THIS FUNCTION MAY BE OBSOLETE
        elimiated and use HandleAnswer() or NextQuestion()
        was only needed when same button accepted answer or hit next question
        idea: on last question, submit = results page

        if initial, then run HandleAnswer  
        if done, submit NextQuestionForm
       
        */
        if ($("#completionstatus").text() == "initial") {
            //$("#completiondiv").css("background-color", "blue");
            HandleAnswer();
        }


        if (($("#completionstatus").text() == "nextquestion") && score.length < 20) {
            nextQuestionForm.submit();
        }
        
        score = $("#endValue").val();
        if (score.length > 20) {
            $("#innerquiz").css("display", "none");
        }

    }


    function HandleAnswer() {
        $("#mainformSubmit").css("display","none");
        question = "@Model.ShipName";
        answer = $("input[type='radio'][name='typeOption']:checked").val();

        correctanswer = $.get("/GetQuizPage/GetCorrectAnswer", { id: question })
        //.done(function (data) { alert(data); });
        .done(function (data) {
            if (data == answer) {
                HandleRightAnswer();
            }
            else {
                HandleWrongAnswer();
            }
            $("#completionstatus").text('nextquestion');
        });

    }

    function HandleRightAnswer() {
        score = $("#startValue").val();
        $("#completiondiv").css("display", "inline-block");
        $("#completiondiv").css("background-color", "green");
        $("#endValue").val(score + "1");
    }

    function HandleWrongAnswer() {
        score = $("#startValue").val();
        $("#completiondiv").css("display", "inline-block");
        $("#completiondiv").css("background-color", "red");
        $("#endValue").val(score + "0");
    }

    function CheckAnswer(i,bar)
    {
        var elements = document.getElementsByName('typeOption');
        elements[i].checked = true;
        HandleCompletion();
        //$(bar).css("background-color", "green");
    }

    function TurnBlue(i) {
    if ($("#completionstatus").text() != "nextquestion") {
        $(i).css("background-color", "blue");
        $(i).css("color", "white");
        }
    }

    function TurnLightBlue(i) {
        if ($("#completionstatus").text() != "nextquestion") {
            $(i).css("background-color", "#3399FF");
            $(i).css("color", "black");
        }
    }

</script>
@if (@Model.score.Length == 0)
{
   <h2>Start Quiz</h2>
}
else if (@Model.score.Length < 20)
{
   <p class="scoreheader"><b>Current Score:</b><br />@Model.ParseScore()</p>
   <br /><a href="/GetQuizPage">Start Over</a>
}
else
{
    <h2>Final Score:</h2>@Model.ParseScore()
   <br /><a href="/GetQuizPage">Start Over</a>
}

<!--div class="outer"-->
<div id="innerquiz" class="innerquiz">
<div class="quizheader">@Model.ShipName</div>
<br />

<form id="quizform" style="display:none">
@foreach (var name in @Model.ShipTypeOptions)
{
    <input type="radio" name="typeOption" value="@name">@name <br/>
}
</input>

</form>

<div id="answer1" class="answerbar" onclick="CheckAnswer(0,this)" onmouseover="TurnBlue(this);" onmouseout="TurnLightBlue(this);" > @Model.ShipTypeOptions[0] </div>
<div id="answer2" class="answerbar" onclick="CheckAnswer(1,this)" onmouseover="TurnBlue(this);" onmouseout="TurnLightBlue(this);"> @Model.ShipTypeOptions[1] </div>
<div id="answer3" class="answerbar" onclick="CheckAnswer(2,this)" onmouseover="TurnBlue(this);" onmouseout="TurnLightBlue(this);"> @Model.ShipTypeOptions[2] </div>
<div id="answer4" class="answerbar" onclick="CheckAnswer(3,this)" onmouseover="TurnBlue(this);" onmouseout="TurnLightBlue(this);"> @Model.ShipTypeOptions[3] </div>

<br />


<div class="correctanswer" id="rightanswerdiv" style="display:none">Correct</div>
<div class="wronganswer" id="wronganswerdiv" style="display:none">Incorrect</div>


<!--div class="nextButton" id="nextQuestionDiv" style="display:none" onclick="nextQuestionForm.submit();">Next Page</div-->

@if (@Model.score.Length < 20)
{
<div id="completiondiv" class="completion" onclick="HandleCompletion();">Next Question</div>
}

</div>

<label id="completionstatus" style="visibility:hidden">initial</label>

<form action="/GetQuizPage" method="post" id="nextQuestionForm" style="visibility:hidden">
<input id="startValue" name="startValue" type="hidden" value="@Model.score"/>
<input id="endValue" name="endValue" type="hidden" />
<input id="nextpagesubmit" type="submit" value="Next Page"/>
</form>


