@model Eve_Ship_ID.Models.CorpSecurityModel
@{
    ViewBag.Title = "CorporationView";
}
<link rel="stylesheet" type="text/css" href="Content/site.css"> 

<div class="siteheader">
<a href="http://www.fenjaylabs.com"><img src="images/fenjaylabs_logo.gif" /></a>
</div>


<div class="maincontent">
@if (Model.ValidCorpId)
{
    <div style="width:400px;float:left"><img src="@Model.CorpImgURL" /> <br />Editing Corporation:<p style="font-weight:bold"> @Model.corpInfo.CorpName</p></div> 
    if (Model.AllianceURL != string.Empty)
    {
    <div style="width:400px;float:right">
    <img src ="@Model.AllianceURL" /> <br /> Alliance: <p style="font-weight:bold">@Model.corpInfo.AllianceName </p>
    </div> 
     }   

    
<table class = "corplisting">
<tr><th>Name</th><th>Title(s)</th><th>Comments</th></tr>
@foreach (var evechar in Model.corpRoster.Values)
{
        <tr><td><a href="../EveCharacterEdit/@evechar.id"> @evechar.characterName </a></td><td>@evechar.rankTitles</td><td>@evechar.comments</td></tr>
}
</table>
}
else
{
<h3>Corp ID Not Valid</h3>
}
<br />
<br />
<a href="/BlackListMx">Blacklist Maintenance</a>
<br />
<br />
<a href="../RefreshCorporation/98340372">Refresh Corp Roster from API</a>
<div style="align:center;color:Red;">@Model.errorMessage</div>
</div>

<div class="contactfooter"> <!--style="border-top:20px;margin-left:65px;width:980px;background-color:#202020;"-->
<p style="color:White">Contact Me:<br />
Twitter:&nbsp;<a href="http://twitter.com/fenjayminor" target="_blank">Fenjayminor</a><br />
Email: fenjay at fenjaylabs<br />
</p>
</div>
