@model Eve_Ship_ID.Models.EveCharacterModel
@{
    ViewBag.Title = "EveCharacterEdit";
}
<link rel="stylesheet" type="text/css" href="Content/site.css"> 

<div class="siteheader">
<a href="http://www.fenjaylabs.com"><img src="images/fenjaylabs_logo.gif" /></a>
</div>


<div class="maincontent">
<a href = "../CorporationView/@Model.EveCharacter.corpID">&lt;&lt; Back To Corporation View</a><br /><br />

<img src="@Model.ImgURL" />

@using (Html.BeginForm("EveCharacterEdit", "CorpSecurity", FormMethod.Post, new { id = "EveCharacterEditForm", style = "visibility:visible;" }))
{
<div class="div-table">
<div class="div-table-caption">Edit Character: @Model.EveCharacter.characterName</div>
<div class="div-table-row">
<div class="div-table-col">Title(s)</div>
<div class="div-table-col">
    @Html.TextBoxFor(model => model.EveCharacter.rankTitles, new {@readonly = "readonly", style = "background-color:gray"})
    </div>
</div>
<div class="div-table-row">
<div class="div-table-col">API ID</div>
<div class="div-table-col">@Html.TextBoxFor(model => model.EveCharacter.characterApiID)</div>
</div>
<div class="div-table-row">
<div class="div-table-col">API VCode</div>
<div class="div-table-col">@Html.TextBoxFor(model => model.EveCharacter.characterApiVcode)</div>
</div>
<div class="div-table-row">
<div class="div-table-col">Is a current member</div>
<div class="div-table-col">@Html.CheckBoxFor(model => model.EveCharacter.currentMember, new { @readonly = "readonly", style = "background-color:gray" })</div>
</div>
<div class="div-table-row">
<div class="div-table-col">Is a prospect</div>
<div class="div-table-col">@{object prospectprops = (Model.EveCharacter.currentMember) ? new {@readonly = "readonly", style = "background-color:gray"}  : null;
    @Html.CheckBoxFor(model => model.EveCharacter.prospect, prospectprops)
}</div>
</div>
<div class="div-table-row">
<div class="div-table-col">Blacklisted</div>
<div class="div-table-col">@{object blprops = (Model.EveCharacter.currentMember) ? new { @readonly = "readonly", style = "background-color:gray" } : null;
    @Html.CheckBoxFor(model => model.EveCharacter.blacklist, blprops)
}</div>
</div>
<div class="div-table-row">
<div class="div-table-col">Main's name (if applicable)</div>
<div class="div-table-col">@Html.TextBoxFor(model => model.MainCharacterName)
</div>
</div>
<div class="div-table-row">
<div class="div-table-col">Comments</div>
<div class="div-table-col">@Html.TextAreaFor(model => model.EveCharacter.comments)</div>
</div>
</div>
    @Html.HiddenFor(model => model.EveCharacter.altMainCharacterId)
    @Html.HiddenFor(model => model.EveCharacter.corpID)
    @Html.HiddenFor(model => model.EveCharacter.characterEveID)
    @Html.HiddenFor(model => model.EveCharacter.id)
    <input id="submitchar" type="submit" value="Update Character" />
}

</div>